* {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 0 15vw;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

/* Header */
.header-container {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0 -15vw;
  width: 100%;
}

header {
  background-color: #1F2937;
  display: flex;
  padding: .5em 15vw;
  flex-wrap: wrap;
}

header .logo a {
  color: #f9faf8;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  flex: 1 0 auto;
  text-decoration: none;
}

header nav {
  margin-left: auto;
}

header nav ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
}

header nav li {
  flex: auto;
  display: inline;
  padding-left: 1em;
}

header nav a {
  font-size: 1.125em;
  color: #e5e7eb;
  font-weight: 400;
  text-decoration: none;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

.content-container {
  z-index: -1;
}

/* @media screen and (max-width: 480px) {
  .content-container {
    margin-top: 6em;
  }
}
*/
/* /Header */

/* Footer */
footer {
  background-color: #1F2937;
  color: #e5e7eb;
  text-align: center;
  margin-top: 1em;
  padding: 2em 0;
  font-size: smaller;
  font-weight: 200;
}
/* /Footer */

/* Hero */
.hero-container {
  background-color: #1F2937;
  color: #e5e7eb;
  margin: 0 -15vw ;
  padding: 6em 15vw 2em 15vw;
}

.hero {
  display: flex;
  flex-wrap: wrap;
}

.hero>*{
  width: 35vw;
  flex: 1 .5 240px;
   margin-bottom: 2em;
}

.hero-text {
  padding-right: 2em;
  color: #e5e7eb;
}

.hero-text h1 {
  font-size: 3em;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text p {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  margin: 1em 0;
}

.hero-text .button {
  background-color: #3882F6;

  padding: .4em 2em;
  border-radius: .5em;

  text-align: center;
  width: fit-content;
}

.hero-text a {
  color: #e5e7eb;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.hero-image {
  margin: 0;
  padding: 0;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
/* /Hero */


/* Section 2 */
#section-quote {
  margin: 0 -15vw ;
  padding: 2em 20vw;

  background-color: #E5E7EB;
  color: #1F2937;
}

.quote {
  font-size: 2.25em;
  font-style: italic;
}

.quote-source {
  font-size: 1.75em;
  font-weight: bold;
  text-align: right;
  margin-top: .5em;
}

/* /Section 2 */