* {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 0 15vw;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.header-container {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0 -15vw 0 -15vw;
  width: 100%;
}

header {
  background-color: #1F2937;
  display: flex;
  padding: 0em 15vw .5em 15vw;
  flex-wrap: wrap;
}

header .logo a {
  color: #f9faf8;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  flex: 1 0 auto;
  text-decoration: none;
}

header nav {
  margin-left: auto;
}

header nav ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
}

header nav li {
  flex: auto;
  display: inline;
  padding-left: 1em;
}

header nav a {
  font-size: 1.125em;
  color: #e5e7eb;
  font-weight: 400;
  text-decoration: none;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

.content-container {
  margin-top: 4em;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .content-container {
    margin-top: 6em;
  }
}